@import 'menu.css';

.conteudo{
    width: 100%;
}
.rodape{
    width: 100%;
    text-align: center;
    background: red;
}
.img-mobile{
    width: 100%;

}
@media screen and (min-width:768px) {
    .menu{
        height: 120px;
        background-color: rgb(218, 68, 210);
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}
@media screen and (min-width:1288px) {
    .menu{
        height: 120px;
        background-color: rgb(233, 217, 124);
    }
    
}